/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }
body{
    background-color: rgba(255, 255, 255, 0.767);
}
h1 { text-align: center; }

	/* flip the pane when hovered */
	/*.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
    }*/
    .buttonDiv{
        float: right;
        margin-right: 15%;
    }
    .scoreDiv{
        float: left;
        margin-left: 8%;
    }
    .flip-container .flipper, {
		transform: rotateY(180deg);
    }
    .flip-container .flipped, {
		transform: rotateY(-180deg);
    }

.flip-container, .front, .back, .matched {
	width: 130px;
    height: 130px;
    float: left;
    margin : 2%;
    box-shadow:5px 5px 10px grey; 

}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}
.front, .back .matched{
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.rowNew{
    width:30%;
}

.front {
    z-index: 2;
    background-color:#db8591;
	transform: rotateY(0deg);
}

.back {
    background-color: lightblue;
    transform: rotateY(180deg);
}
.character{
    font-size: 90px; 
    text-align: center;
    font-style: bold;
    vertical-align: middle;
}

.matched{
    font-size: 90px; 
    text-align: center;
    font-style: bold;
    vertical-align: middle;
    background-color: green;
    transform: rotateY(180deg);
}
.sectionClass {
    width :70%;
    height:70%;
    margin-left:15%;
    
}